.us-wars-container {
    margin: 110px;
    margin-left: 0px;

}

.us-wars-container h2, .us-wars-container h3 {
    margin-left: -50px;
    margin-right: 0px;
}

.us-wars-container h1 {
    margin-left: -50px;
    margin-right: 0px;
}